# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Environments
.env
.venv/
venv/

# Django
media/
db.sqlite3

# FastAPI / AI
*.onnx
debug_input.png

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db